body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

table.table-hover td {
  cursor: pointer;
}

tr.strikethrough td {
  position: relative;
  text-decoration: line-through;
  font-style: italic;
}

/*tr.strikethrough td div:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom: 1px solid #333;
  width: 100%;
}
*/
